extends layout

block content
    h1= title
    if model_detail
        strong Model: 
        |  #{model_detail.modelname}
        br
        strong Summary: 
        |  #{model_detail.summary}
        br
        strong Price: 
        |  #{model_detail.price}
        hr
        p
            a(href=model_detail.url+'/delete') Delete model
    else
        p No model found.
