extends layout

block content
    h1= title
    if vehicle_list.length
        ul
            each vehicle in vehicle_list
                li
                    strong #{vehicle.make} #{vehicle.model.modelname}
                    br
                    | Number in Stock: #{vehicle.model.number_in_stock}
                    br
                    | Price: $#{vehicle.model.price}

    else
        p There are no vehicles.
