extends layout

block content
    h1= title

    if vehicle 
        strong Make and Model:
        |  #{vehicle.make} #{vehicle.model.modelname}
        br
        strong Summary: 
        |  #{vehicle.model.summary}
        br
        strong Number in Stock:
        |  #{vehicle.model.number_in_stock}
        br
        strong Price: 
        |  $#{vehicle.model.price}

        form(method='POST')
            div.form-group
                input#vehicleid.form-control(type='hidden' name='vehicleid' value=vehicle._id)

    hr
    p
        a(href=vehicle.detailUrl+'/delete') Delete Vehicle
    p
        a(href=vehicle.detailUrl+'/update') Update Vehicle
