extends layout

block content
    h1= title
    if vehicle_list.length
        ul
            each vehicle in vehicle_list
                li
                    strong Make and Model:
                    | #{vehicle.make} #{vehicle.model ? vehicle.model.modelname : ''}
                    br
                    strong Summary:
                    | #{vehicle.model && vehicle.model.summary ? vehicle.model.summary : ''}
                    br
                    strong Number in Stock:
                    | #{vehicle.number_in_stock}
                    br
                    strong Price:
                    | $#{vehicle.price}
                    br
                    a(href=`/catalog/vehicle/${vehicle._id}`) View Details
    else
        p There are no vehicles.



