extends layout

block content
    h1= "Available Vehicles"
    if vehicles_in_type.length > 0
        h2 #{type.type}s
        ul
            each vehicle in vehicles_in_type
                li
                    strong Vehicle: 
                    | #{vehicle.make}
                    | #{vehicle.model.modelname}
                    br
                    strong Description: 
                    | #{vehicle.model.summary}
                    br
                    strong Price: 
                    | $#{vehicle.price}

    else
        p No vehicles found.

