extends layout

block content
    h1=title 
    if vehicle_instance_list.length
        ul 
            each vehicle in vehicle_instance_list
                li 
                    strong Vehicle:
                    |  Honda #{vehicle.model.modelname}
                    br
                    strong Price:
                    |  $#{vehicle.model.price}
                    br
                    strong Vehicle Status:
                    |  #{vehicle.status}
                    if vehicle.status !== 'Available'
                        br
                        span (Due: #{vehicle.due_back_formatted} )
                a(href=`/catalog/vehicleinstance/${vehicle._id}`) View Details


