extends layout 

block content
    h1= title

    if vehicle.length 
        each item in vehicle
            strong Make: 
            |  #{item.vehicle.make}
            br
            strong Model:
            |  #{item.model.modelname}
            br
            strong Summary:
            |  #{item.model.summary}
            br
            strong Status:
            |  #{item.status}
            br
            strong Due back:
            |  #{item.due_back_formatted}

        form(method='POST')
            div.form-group
                input#vehicleid.form-control(type='hidden' name='vehicleid' value=vehicle._id)

            button.btn.btn-primary(type='submit') Delete

        hr
        p 
            if vehicle && vehicle.catalogUrl
                a(href=vehicle.catalogUrl+"/delete") Delete Vehicle Instance

    hr
    p
        a(href=vehicle.url+'/delete') Delete Vehicle
    p
        a(href=vehicle.url+'/update') Update Vehicle

